:root {
    --primary-color: #2ecc71;
    --secondary-color: #27ae60;
    --dark-color: #2c3e50;
    --light-color: #ecf0f1;
}

nav {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/plantas.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
}
.navbar-brand{
    font-size: 6rem;
}
main {
    min-height: 85vh;
}